@model IEnumerable<BaiKiemTra03_03.Models.Customer>

@{
    ViewData["Title"] = "Danh sách khách hàng";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Tạo mới khách hàng</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Mã khách hàng</th>
            <th>Tên khách hàng</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CustomerId</td>
                <td>@item.CustomerName</td>
                <td>@item.Address</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerId">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.CustomerId">Xem chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerId">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
